{% load static %}<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#6994f9" />

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'logo192.png' %}" />

        <title>AerolinkSMA | {% block head_title %}Home{% endblock %}</title>
        {% block styles %}
            <link href="{% static 'dist/css/styles.css' %}" rel="stylesheet" />
        {% endblock %}

        {% block head_scripts %}
            <script src="{% static 'dist/js/main.bundle.js' %}" defer></script>
        {% endblock %}
    </head>
    <body>
        {% include "partials/navbar.html" %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        {% include "partials/footer.html" %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>
