{% extends "base.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid landing">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <h1 class="display-4">
                        Travel Safe, Travel Smart
                    </h1>

                    <p class="lead">
                        Serving San Miguel de Allende, Guanajuato International
                        Airport (BJX), Querétaro Intercontinental Airport (QRO),
                        Mexico City International Airport (MEX), and the
                        surrounding areas.
                    </p>

                    <a class="btn btn-lg btn-primary" href="{% url 'shuttle:create_reservation' %}">
                        Make reservation
                    </a>

                    <p class="text-muted mt-1">
                        No sign up required.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="sub-hero">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>
                        <span class="brand">Aerolink</span>
                        gets you to SMA in the blink of an eye
                    </h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
