.jumbotron.landing {
    margin-bottom: 0;

    @include media-breakpoint-only(xs) {
        text-align: center;
    }

    h1 {
        letter-spacing: -0.03em;
        font-weight: 900;
    }

    p.lead {
        font-weight: 400;
    }

    .btn {
        font-weight: 600;
    }
}

.sub-hero {
    background-color: $primary;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h3 {
        text-align: center;
        font-weight: 600;
        margin: 0;

        span.brand {
            font-weight: 900;
        }
    }
}

#features {
    .feature {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
