body {
    padding-top: $navbar-height;
}

.main.navbar {
    border-bottom: 1px solid $gray-400;
    box-shadow: 0 0 3px 1px rgba($gray-500, 0.25);
}

.navbar-light .navbar-brand {
    color: theme-color("primary");
    font-weight: 900;
    letter-spacing: -0.01em;

    &:hover,
    &:focus {
        color: darken(theme-color("primary"), 5%);
    }
}

a.nav-link {
    font-size: 0.875rem;
    font-weight: 600;
}
