$font-family-sans-serif: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$enable-responsive-font-sizes: true;
$enable-shadows: true;
$enable-gradients: true;

$primary: #6994f9;
$dark-text-color: darken($primary, 55%);

$body-bg: #f8f9fa;
$body-color: $dark-text-color;

$headings-font-weight: 900;

$navbar-height: 62px;
$navbar-light-active-color: #1f2d3d;

$input-focus-border-color: $primary;
$input-btn-focus-width: 2px;
