@import "~bootstrap/scss/functions";

@import "variables";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$theme-colors: map-remove($theme-colors, "secondary", "warning", "info", "dark");

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

@import "landing";
@import "nav";
@import "forms";
@import "cards";
@import "tables";
@import "footer";
@import "body";

p.lead {
    font-weight: 400;
}

.list-detail {
    h5 {
        text-align: center;
    }

    p {
        text-align: center;
        margin-bottom: 0;
    }
}
