{% extends "base.html" %}

{% block head_title %}Reservations{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <div class="col-lg-2 mb-3 order-1">
                {% include "shuttle/partials/sidebar_nav.html" %}
            </div>

            <div class="col-lg-6 order-3 order-lg-2">
                <h3>Newest reservations</h3>
                <ul class="list-group">
                    {% for reservation in object_list %}
                        <a class="list-group-item list-group-item-action position-relative"
                           href="{{ reservation.get_absolute_url }}">
                            <div class="d-flex w-100 justify-content-between align-items-center mb-1">
                                <h6 class="mb-0">
                                    {{ reservation.place }}
                                    {{ reservation.get_direction_display }},
                                    {{ reservation.get_id }}
                                    {% if reservation.paid %}
                                        <span class="badge badge-success">
                                            Paid
                                        </span>
                                    {% else %}
                                        <span class="badge">
                                            Not paid
                                        </span>
                                    {% endif %}
                                </h6>

                                <small title="{{ reservation.created_at }}"
                                       class="d-none d-md-block">
                                    {{ reservation.created_at|timesince }}
                                    ago
                                </small>
                            </div>

                            <small class="d-block d-md-none mt-n1 mb-1"
                                   title="{{ reservation.created_at }}">
                                Created
                                {{ reservation.created_at|timesince }}
                                ago
                            </small>

                            <small class="pickup-date d-block{% if reservation.has_passed %} text-muted{% endif %}"
                                   title="{{ reservation.pickup_date|date:'r' }}">
                                Pickup:
                                {{ reservation.pickup_date|date:'D, d M h:i a' }}
                            </small>
                        </a>
                    {% endfor %}
                </ul>

                {% include "partials/pagination.html" %}
            </div>

            <div class="col-lg-4 my-3 my-lg-0 order-2 order-lg-3">
                <h3>Next reservations</h3>

                <ul class="list-group mb-3">
                    {% for reservation in next_reservations %}
                        <a class="list-group-item list-group-item-action"
                           href="{{ reservation.get_absolute_url }}">
                            <h6 class="mb-0">
                                {{ reservation.place.name }}
                                {{ reservation.get_direction_display }},
                                {{ reservation.get_id }}
                                {% if not reservation.paid %}
                                    <span class="badge">
                                        Not paid
                                    </span>
                                {% endif %}
                            </h6>

                            <small title="{{ reservation.pickup_date|date:'r' }}">
                                In
                                {{ reservation.pickup_date|timeuntil }}
                            </small>
                        </a>
                    {% endfor %}
                </ul>

                <h3>Next reservations to return</h3>

                <ul class="list-group mb-3">
                    {% for reservation in next_reservations_to_return %}
                        <a class="list-group-item list-group-item-action"
                           href="{{ reservation.get_absolute_url }}">
                            <h6 class="mb-0">
                                {{ reservation.place.name }}
                                {{ reservation.get_direction_display }},
                                {{ reservation.get_id }}
                                {% if not reservation.paid %}
                                    <span class="badge">
                                        Not paid
                                    </span>
                                {% endif %}
                            </h6>

                            <small title="{{ reservation.pickup_date|date:'r' }}">
                                In
                                {{ reservation.return_date|timeuntil }}
                            </small>
                        </a>
                    {% endfor %}
                </ul>

                <h3>Recently passed reservations</h3>

                <ul class="list-group mb-3">
                    {% for reservation in recently_passed_reservations %}
                        <a class="list-group-item list-group-item-action"
                           href="{{ reservation.get_absolute_url }}">
                            <h6 class="mb-0">
                                {{ reservation.place.name }}
                                {{ reservation.get_direction_display }},
                                {{ reservation.get_id }}
                                {% if not reservation.paid %}
                                    <span class="badge">
                                        Not paid
                                    </span>
                                {% endif %}
                            </h6>

                            <small title="{{ reservation.pickup_date|date:'r' }}">
                                {{ reservation.pickup_date|timesince }}
                                ago
                            </small>

                            {% if reservation.is_assigned %}
                                <span class="badge badge-primary">
                                    Assigned to {{ reservation.driver }}
                                </span>
                            {% else %}
                                <span class="badge badge-light">
                                    Not assigned
                                </span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
