{% extends "base.html" %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <div class="col-md-8">
                <h1>Reservations</h1>
                <ul class="list-group">
                    {% for reservation in object_list %}
                        <a class="list-group-item list-group-item-action"
                           href="{{ reservation.get_absolute_url }}">
                            <div class="d-flex w-100 justify-content-between align-items-center mb-1">
                                <h6 class="mb-1">
                                    <span class="badge badge-light badge-pill">
                                        {{ reservation.pk }}
                                    </span>
                                    {{ reservation.place }}
                                    {{ reservation.get_direction_display }}
                                    {% if reservation.paid %}
                                        <span class="badge badge-success">
                                            Paid
                                        </span>
                                    {% else %}
                                        <span class="badge badge-light">
                                            Not paid
                                        </span>
                                    {% endif %}
                                </h6>
                                <small title="{{ reservation.created_at }}"
                                       class="d-none d-md-block">
                                    {{ reservation.created_at|timesince }}
                                    ago
                                </small>
                            </div>

                            <small class="d-block d-md-none mt-n1 mb-1"
                                   title="{{ reservation.created_at }}">
                                {{ reservation.created_at|timesince }}
                                ago
                            </small>

                            <p class="mb-0">
                                Pickup date:
                                <span class="badge badge-primary badge-pill">
                                    {{ reservation.pickup_date }}
                                </span>
                            </p>
                        </a>
                    {% endfor %}
                </ul>

                {% include "partials/pagination.html" %}
            </div>
        </div>
    </div>
{% endblock %}
