{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <section class="shuttle jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container mb-3">
            <div class="row">
                <div class="col">
                    <h1>Plan Your Trip</h1>

                    <p class="lead">
                        Traveling within a group? On your own? We
                        offer safe and reliable airport and
                        city-to-city transfers, as well as rides
                        to touristic points of interest. We’ve got
                        options to fit your budget and travel
                        plans.
                    </p>

                    <p class="lead">
                        Having no airport of its own, we
                        understand that finding a way to get to
                        San Miguel de Allende from one of the
                        city's neighboring airports can be
                        hectic. With AerolinkSMA's non-stop
                        service, you’ll have the comfort and peace
                        of mind of a guaranteed, safe and reliable
                        ride.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="container mb-3 mb-md-5 mt-n5">
        <div class="row">
            <div class="col-md-7">
                <div class="card reservation-form shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title mt-0 mb-3">
                            Make your reservation
                        </h3>

                        <form action="" method="POST">
                            {% csrf_token %}
                            {% crispy reservation_form %}
                            {% crispy client_form %}
                            <button class="btn btn-primary">
                                Book now
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col d-none d-md-block">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Pricing table</h3>

                        <table class="pricing table table-sm table-borderless table-hover">
                            <thead>
                                <tr>
                                    <th scope="row"></th>
                                    <th scope="row" class="text-right">USD</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for place in places %}
                                    <tr>
                                        <th scope="row">{{ place.name }}</th>
                                        <td>${{ place.price }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <a href="#">
                            See full pricing table
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
