{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h1 class="mb-3">Make your reservation</h1>

                <form action="" method="POST">
                    {% csrf_token %}
                    {% crispy reservation_form %}
                    {% crispy client_form %}
                    <button class="btn btn-primary">
                        Book now
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
