{% extends "base.html" %}

{% block head_title %}Reservation {{ object.get_id }}{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-8">
                <h1>
                    {{ object.place }}
                    {{ object.get_direction_display }}
                </h1>

                <h4>{{ object.place_details }}</h4>

                <small class="d-block text-muted"
                       title="{{ object.created_at|date:'r' }}">
                    Created
                    {{ object.created_at|timesince }}
                    ago
                </small>

                <div class="my-3">
                    <ul class="list-group list-group-horizontal-md">
                        <li class="list-group-item list-detail border-dark">
                            <h5 title="{{ object.pickup_date|date:'r' }}">
                                {{ object.pickup_date|date:'D, d M h:i a' }}
                            </h5>
                            <p>Pickup date</p>
                        </li>

                        {% if object.return_date %}
                            <li class="list-group-item list-detail">
                                <h5 title="{{ object.return_date|date:'r' }}">
                                    {{ object.return_date|date:'D, d M h:i a' }}
                                </h5>
                                <p>Return date</p>
                            </li>
                        {% endif %}

                        <li class="list-group-item list-detail">
                            <h5>{{ object.luggage }}</h5>
                            <p>Luggage</p>
                        </li>

                        <li class="list-group-item list-detail">
                            <h5>{{ object.get_fare_type_display }}</h5>
                            <p>Fare type</p>
                        </li>

                        <li class="list-group-item list-detail">
                            <h5>{{ object.get_direction_display }}</h5>
                            <p>Direction</p>
                        </li>

                        <li class="list-group-item list-detail{% if object.paid %} border border-success{% endif %}">
                            <h5>{{ object.paid|yesno:'Yes,No' }}</h5>
                            <p>Paid</p>
                        </li>
                    </ul>
                </div>

                <div class="mb-3">
                    <h4>Client:</h4>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5>{{ object.client.first_name }}</h5>
                            <p class="mb-0">First Name</p>
                        </li>

                        <li class="list-group-item">
                            <h5>{{ object.client.last_name }}</h5>
                            <p class="mb-0">Last Name</p>
                        </li>

                        <li class="list-group-item">
                            <h5>{{ object.client.email }}</h5>
                            <p class="mb-0">Email</p>
                        </li>

                        <li class="list-group-item">
                            <h5>{{ object.client.phone_number }}</h5>
                            <p class="mb-0">Phone Number</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
