<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    &copy; 2020
                    <span class="brand">
                        AerolinkSMA
                    </span>
                </p>
            </div>

            <div class="col">
                <h5>Contact Us</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:contact@aerolinksma.com">
                            contact@aerolinksma.com
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col">
                <h5>About</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            FAQs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Pricing
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Terms & Conditions
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
